{% extends 'html/base.html' %}
{% block content %}

<div class="form-group">
    <div class="row">
        <div class=" center col-sm-8">
            <form  action = "" method="post" novalidate>
                {% csrf_token %}
                {% for field in  form %}
                {{field.label_tag}} {{field}}{{field.errors|striptags}}
                {% endfor %}
                <input action = " " class = "btn btn-success btn-sm" type="submit" value="Submit">
                </form>
                {% if messages %}
                {% for message in messages  %}
                {% if message.tags %} 
                <div roll = "alert" class = " mt-2 alert alert-{{message.tags}} alert-dismissible fade show"{% endif %}> {{message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
                {% endif %}
                
        </div>
    </div>
    
</div>

{% endblock content %}
{% block js %}

{% endblock js %}

